<form autocomplete="on" (ngSubmit)="onSubmit()" [formGroup]="formgroup"
  style="margin: 5em; width:55em; display: flex; flex-wrap: wrap;">
  <p style="margin:2em;">
    <mat-form-field appearance="legacy">
      <mat-label>Nom</mat-label>
      <input onlyLetter matInput formControlName="name" name="name">
    </mat-form-field>
  </p>
  <p style="margin:2em;">
    <mat-form-field appearance="legacy">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" name="description">
    </mat-form-field>
  </p>
  <p style="margin:2em;">
    <mat-form-field appearance="legacy">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" name="price">
    </mat-form-field>
  </p>
  <p style='margin-bottom: 5em;'>
    <button mat-stroked-button type="submit">Submit</button>
  </p>
</form>
